<div>
	<fieldset>
		<legend><%=l(:"superuser.label_permissions")%></legend>
		<p>
			<label><%=l(:"superuser.view_all_projects")%></label>
	    	<%= check_box_tag 'settings[view_all_projects]', true, @settings['view_all_projects'].present? %>
		</p>
		<p>
		    <label><%=l(:"superuser.view_all_custom_fields")%></label>
		    <%= check_box_tag 'settings[view_all_custom_fields]', true, @settings['view_all_custom_fields'].present? %>
		</p>
		<p>
		    <label><%=l(:"superuser.manage_members")%></label>
		    <%= check_box_tag 'settings[manage_members]', true, @settings['manage_members'].present? %>
		</p>
		<p>
		    <label><%=l(:"superuser.access_all_statuses")%></label>
		    <%= check_box_tag 'settings[access_all_statuses]', true, @settings['access_all_statuses'].present? %>
		</p>
	</fieldset>

	<fieldset>
		<legend><%=l(:"superuser.label_roles_permissions")%></legend>
		<p>
			<%
			options = []
			Redmine::AccessControl.permissions.each do |permission|
				options << [l_or_humanize(permission.name, :prefix => 'permission_'), permission.name]
			end
			%>
		    <label><%=l(:"superuser.label_deny_permissions")%></label>
			<%= select_tag 'settings[roles_permissions]',
			    options_for_select(options, @settings['roles_permissions']),
			    :multiple => true,
			    :size => 10 %>
		</p>
	</fieldset>
</div>
